.center
{
    text-align: center;
}

h1
{
    color: blue;
}

body
{
    font-family: sans-serif;
}

p
{
    font-weight: 650;
}

a:hover
{
  color: hotpink;
}

ul
{
    line-height: 1.8;
}

#counter
{
    text-align: center;
}
